.main-nav {
    color: white;
    width: 53%;
    overflow: hidden;
    border-radius: 5px;
    background: black url(http://images.apple.com/global/nav/images/globalheader.png) repeat-x;
    padding: 7px 5px 5px 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: 45px
}
.main-nav .logo {
    background: url(../images/apple.svg) no-repeat;
}
.main-nav ul {
    float: left;
    width: 84%;

margin: 0;
}
.main-nav ul li{
    display: table-cell;
    float: left;
    width: 11%;
}
.apple {

}
.middle-section {
    background: url(../images/background.jpg) 50% 100% no-repeat;
    height: 614px;
    width: 100%;
    margin-top: -20px;
}
input {
    border-radius: 14px;
    background: url(http://images.apple.com/global/nav/images/globalheader.png) repeat-x;
    width: 100%;
    margin-left: 103%;
}
.search-icon {
    background: url(../images/magnifying-glass.svg);
    width: 12px;
    height: 12px;
}
.inline{
    display: inline
}
.center{
  display: flex;
  justify-content: center;
}
