.main-nav {
    background: black;
    color: white;
    width: 50%;
    overflow: hidden;
}
.main-nav ul li{
    display: table-cell;
    float: left;
    width: 11%;
}
.search {
    display: block;
    float: left;
    width: 11%;
}